absl-py
attrs
blinker
cachetools
certifi
cffi
charset-normalizer
click
contourpy
cycler
dill
filelock
Flask
Flask-MQTT
flatbuffers
fonttools
fsspec
gitdb
GitPython
google-api-core
google-auth
google-cloud-core
google-cloud-storage
google-crc32c
google-resumable-media
googleapis-common-protos
idna
imageio
imageio-ffmpeg
itsdangerous
jax
jaxlib
Jinja2
kiwisolver
MarkupSafe
matplotlib
mediapipe
ml-dtypes
mpmath
mysql-connector-python
networkx
numpy
opencv-contrib-python
opencv-python
opt-einsum
packaging
paho-mqtt
pandas
pillow
proto-plus
protobuf
psutil
py-cpuinfo
pyasn1
pyasn1_modules
pycparser
pyparsing
python-dateutil
python-dotenv
pytz
PyYAML
requests
rsa
scipy
seaborn
setuptools
six
smmap
sounddevice
structlog
sympy
tqdm
typing_extensions
tzdata
ultralytics
ultralytics-thop
urllib3
Werkzeug
wheel
