<!doctype html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Document</title>
	<script src="https://unpkg.com/mqtt/dist/mqtt.min.js"></script>
</head>

<body>
	<img src="" alt="" />
</body>

<script>
	// make mqtt client then subscribe to video topic, then display video to img tag
	const client = mqtt.connect("ws://34.101.43.219:9001");
	const streamId = "40e4fe42-c6a9-48e0-8745-461380e2ae5d";
	client.on("connect", () => {
		console.log("connected");
		client.subscribe(`stream/base64/${streamId}`, (err) => {
			if (err) {
				console.error("Failed to subscribe to topic:", err);
				return;
			}
			console.log("subscribed to strean topic");
		});
	});
	client.on("message", (topic, message) => {
		const img = document.querySelector("img");
		img.src = "data:image/jpeg;base64," + message.toString();
	});
</script>

</html>