<!doctype html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Document</title>
	<script src="https://unpkg.com/mqtt/dist/mqtt.min.js"></script>
</head>

<body>
	<video id="webcam" autoplay></video>
	<button id="play">Play</button>
</body>

<script>
	const client = mqtt.connect("ws://34.101.43.219:9001");
	const streamId = "40e4fe42-c6a9-48e0-8745-461380e2ae5d";
	let stream;

	client.on("connect", () => {
		console.log("connected");
	});

	function startVideo() {
		navigator.mediaDevices
			.getUserMedia({ video: { width: 640, height: 480 } })
			.then((stream) => {
				const video = document.getElementById("webcam");
				video.srcObject = stream;
				const canvas = document.createElement("canvas");
				const context = canvas.getContext("2d");
				video.addEventListener("play", () => {
					client.publish("open_stream", streamId); // publish the stream id to notify the server to check the stream id in the database
					setInterval(() => {
						canvas.width = video.videoWidth;
						canvas.height = video.videoHeight;
						context.drawImage(
							video,
							0,
							0,
							video.videoWidth,
							video.videoHeight
						);
						const data = canvas.toDataURL("image/jpeg");
						const base64 = data.split(",")[1];
						client.publish(`stream/${streamId}`, base64); // publish the base64 image to the server
						console.log(`published ${base64.length} bytes`);
					}, 1000 / 15); // Change the interval to achieve 15fps
				});
			})
			.catch((error) => {
				console.error("Error accessing webcam:", error);
			});
	}
	document.getElementById("play").addEventListener("click", startVideo);
</script>

</html>